!!! 5
%html
  %head
    %title SOLE: Open Learning de Español
    %meta(charset="utf-8")
    %link(rel="icon" type="image/png" href="/favicon.png")

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    %header
      = link_to image_tag('logo_new_sun.png'), root_path, :class => :logo
      #title SOLE: Open Learning de Español
    #container
      #nav_menu
        = render 'navigation_menu'
      - flash.keys.each do |key|
        %div{:class => [:flash, key]}= flash[key]
      #main
        = yield
    %footer
      %hr
      %p
        developed by
        = mail_to "Evgenia Manolova", "emanolova@gmail.com"
